PULSEHOME_POSTGRES_DB=analyzer
PULSEHOME_POSTGRES_USER=replace-with-db-user
PULSEHOME_POSTGRES_PASSWORD=replace-with-db-password
COLLECTOR_BASIC_AUTH_USERNAME=collector
COLLECTOR_BASIC_AUTH_PASSWORD=replace-with-collector-password
